/* 入力フォーム中央寄せ */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px; /* フォームの幅を適宜調整 */
    margin: 0 auto; /* 水平方向に中央寄せ */
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 10px; /* 行間の余白を調整 */
  }
  
  label {
    width: 100px; /* 項目の幅を適宜調整 */
    text-align: left;
    margin-right: 10px; /* 項目と入力欄の間隔を調整 */
  }
    
  .flex-basis1{
    width: 400px;
    margin-right: 10px;
  }

  .flex-basis2{
    width: 30px;
  }

  .flex-basis3{
    width:450px;
  }

  .radio-item {
    display: inline-block;
    width:130px;
  }

/* ラジオボタン */
  input[type="radio"] {
    width: 16px; /* 幅を適宜調整 */
    height: 16px; /* 高さを適宜調整 */
    margin-right: 10px; /* ラジオボタンとラベルの間隔を調整 */
    -webkit-appearance: none; /* ブラウザのデフォルトスタイルを無効化 */
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000; /* ラジオボタンの枠線を追加 */
    border-radius: 50%; /* 円形にするための丸みを指定 */
    outline: none; /* フォーカス時のアウトラインを非表示 */
  }
  
  input[type="radio"]:checked {
    background-color: #000; /* ラジオボタンが選択されたときの背景色を指定 */
  }

  .input-p{
    font-size: 1.2rem;
  }

  #input1{
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
  }
  
  #input-mail{
    width: 500px;
    height: 20px;
  }

/* skill sheet */

table, tr, td{
  font-size: 1.5rem;
  border: 1px solid#000;
}

table{
  margin: auto;
  width: 1100px;
}



/* 備考欄 */
  textarea{
    width: 700px;
    height: 150px;
    text-align: left;
  }
  
/* 個人情報取り扱いスクロール */

.scrolling-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 700px;
    height: 300px;
    overflow: hidden; /* 境界線非表示 */
    border: 1px solid #000; /* 枠の境界線を追加 */
  }

.scrolling-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox用 */
    -ms-overflow-style: none; /* IE, Edge用 */
  }

.scrolling-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera用 */
  }

  p{
    text-align: left;
    font-size: 14px;
    line-height: 20px; /*行間開け*/
  }

  .pi-title{
    font-size: 2rem;
    font-weight: bolder;
  }

  .word1{
    font-size: 1.8rem;
    font-weight: bolder;
  }


/* 保留　備考欄とスタート合わせるためにmargin入れるか確認 */
  .wrapper {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }


/* Privacy Mark */

  .privacy-mark img{
    margin-right: auto;
  }