/* 写真と文字を交互に */
.case__list {
    margin: 2rem;
  }
  
  .case__item {
    display: flex;
    margin: 4rem auto;
  }
  
  .case__item:nth-child(odd) {
    flex-direction: row-reverse;
  }
  
  .case__item__text,.case__item__img {
    width: 100%;
    height: auto;
  }
  
  .case__item__text {
    font-size: 1.6rem;
    margin: auto 3rem;
  }

 
/* cercle */
.cercle{
    background-color: #8B2022;
    color: white;
    font-size: 2.5rem;
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    width: 400px;
    height: 40px;
    border-radius: 150px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
  }

/* 案件・技術 */
.flex{
    display: flex;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
}
.flex div{
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    width: 500px;
    margin: 20px;
    padding: 0 5px;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}

/* 案件・技術title */
.flex-title{
    display: flex;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
}
.flex-title div{
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    width: 500px;
    margin: 20px;
    padding: 0 5px;
    color: #8B2022;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}

/* ボルドー */
.font-bordeaux{
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #8B2022;
    font-size: 1.7rem;
    margin: 10px auto;      
}

/* 質問 */
.flex-posts {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 25%;
    box-sizing: border-box;
    text-align: left;
}

.flex-post {
    margin-bottom: 10px;
}
.post-title {
    text-align: left;
    margin-left: 20px;
}
.post-btn {
    /* 枠線を消す */
    border: none;
    /* 背景を透明に */
    background-color: #8B2022;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
}
.vote-message {
    margin: 40px 0;
}
