/* 理由WRAP */
.top-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 幅6等分 */
    grid-template-rows: 100px 100px 100px; /* 100pxの3行 */
    grid-gap: 0px; /* 隙間10px */
    background-color: #F7F7F7;
}

    .txt1 {    
        font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #000;
        font-size: 2.5rem; 
        margin-top: 10px;  
    }

    .txt2 {
        font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #8B2022;
        font-size: 4rem;  
        margin-top: 20px; 
    }

   
/* 1から数え始める */
.box1 {
    margin-top: 30px;
    grid-column: 2; /* 列開始位置2 */
    grid-row: 1; /* 行開始位置1 */
}
.box2 {
    margin-left: 10px;
    grid-column: 3 / 6;
    grid-row: 1; /* 行開始位置1 */
}
.box3 {
    margin-left: 10px;
    grid-row: 2;
    grid-column: 3 / 6;
}
.box4 {
    margin-top: 10px;
    grid-row: 3;
    grid-column: 2 / 6;
}

.balloon1-top {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 500px;
    color: #FFFFFF;
    font-size: 2rem;
    background: #8B2022;
  }
  
  .balloon1-top:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #f7f7f7;
  }
  
  .balloon1-top p {
    margin: 0;
    padding: 0;
  }

.more {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 500px;
    color: #8B2022;
    font-size: 3rem;
    background: #FFFFFF;
    border: 1px solid #8B2022;
}
.more:before {
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #8B2022;
  }
  
  .more p {
    margin: 0;
    padding: 0;
  }

  .border-gray{
    border-top:2px solid #9FA8B0;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
  }
  
.wrap-gray{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 幅6等分 */
    grid-template-rows: 100px 100px 100px 100px 100px 100px; /* 100pxの6行 */
    grid-gap: 0px; /* 隙間 */
    background-color: #F7F7F7;
}
    .pic_frame {
        display: inline-block;
        text-align: center;
    }

        .c-title{
            
        }

.wrap-white{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 幅6等分 */
    grid-template-rows: 100px 100px 100px 100px 100px 100px; /* 100pxの6行 */
    grid-gap: 0px; /* 隙間 */
    background-color: #FFFFFF;
}

.club-box1{
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    grid-column: 3 / 5;
    grid-row: 1; 
}

.club-box2{
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
    grid-column: 2 / 6;
    grid-row: 2; 
}

.club-box3{
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
    grid-column: 1 / 6;
    grid-row: 3; 
}