/* 理由 */
.font-style-choose{
    font-size: 5rem;
    font-weight: bolder;
    color: #8B2022;
    text-align: center;
}
    .font-wide{
        font-size: 7rem;
        font-weight: bolder;
        color: #8B2022;
    }
    .wide-num{
      font-size: 10rem;
      color: #8B2022;
    }
.border-line-long{
    border-top:3px solid #8B2022;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
}

.choose-content {
    margin: auto;
    width: 1000px;
    height: 300px;
  }
  
  .choose-inner {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  .choose{
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    margin-bottom: 20px;
    text-align: center;
    font-size: 5rem;
    color: #8B2022;
  }
    .font-num{
        font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 8rem;
        color: #8B2022;
    }
  .choose-img{
    text-align: center;
    margin-top: 10px;
  }
  .choose-txt{
    margin-top: 30px;
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    text-align: center;
    font-size: 2rem;
  }

/* 理由WRAP */
.wrap-img{
  vertical-align: bottom;
  width: 100%;
  height: auto;
}
.top-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 幅6等分 */
    grid-template-rows: 100px 100px 100px; /* 100pxの3行 */
    grid-gap: 0px; /* 隙間10px */
    background-color: #F7F7F7;
}

    .txt1 {    
        font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #000;
        font-size: 2.5rem; 
        margin-top: 10px;  
    }

    .txt2 {
        font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #8B2022;
        font-size: 4rem;  
        margin-top: 20px; 
    }

   
/* 1から数え始める */
.box1 {
    margin-top: 50px;
    grid-column: 2; /* 列開始位置2 */
    grid-row: 1/3; /* 行開始位置1 */
}
.box2 {
    text-align: center;
    grid-column: 3 / 5;
    grid-row: 1; /* 行開始位置1 */
}
.box3 {
    text-align: center;
    grid-row: 2;
    grid-column: 3 / 5;
}
.box4 {
    margin-top: 10px;
    grid-row: 3;
    grid-column: 2 / 5;
}
.pbox-line{
  display: flex;
  justify-content: center;
  color:#FFFFFF;
  font-size: 2rem;
  letter-spacing: 2rem;
  font-weight: bolder;
  text-align: center;
}
  .box-line {
    display: inline-block;
    width: 800px;
    padding: 20px;
    background-color: #8B2022;
}

.balloon1-parant{
  display: flex;
  justify-content: center;
}
  .balloon1-top {
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 20px;
      width: 500px;
      background: #8B2022;
      color: #FFFFFF;
      font-size: 2rem;   
    }
  
  .balloon1-top:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #f7f7f7;
  }
  
  .balloon1-top p {
    margin: 0;
    padding: 0;
  }

.more {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 500px;
    color: #8B2022;
    font-size: 3rem;
    background: #FFFFFF;
    border: 1px solid #8B2022;
}
.triangle{
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 23px 0 23px;
    border-color: #8B2022 transparent transparent transparent;
    line-height: 0px;
    _border-color: #8B2022  #8B2022  #8B2022  #8B2022;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color=' #8B2022');
}
  
  .more p {
    margin: 0;
    padding: 0;
  }

  .border-gray{
    border-top:2px solid #9FA8B0;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
  }
  
.wrap-gray{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 幅6等分 */
    grid-template-rows: 100px 100px 100px 100px 100px 100px; /* 100pxの6行 */
    grid-gap: 0px; /* 隙間 */
    background-color: #F7F7F7;
}
    .pic_frame {
        width: 150px;
        display: inline-block;
        text-align: center;
    }

        .c-title{
            margin-top: 10px;
            font-size: 2rem;
            font-weight: bolder;
        }
        .c-name{
            margin-top: 10px;
            font-size: 1.5rem;
        }
    
    .SDGs_frame{
        width: 200px;
        display: inline-block;
        justify-content: space-evenly;
    }

.wrap-white{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 幅6等分 */
    grid-template-rows: 100px 100px 100px 100px 100px 100px; /* 100pxの6行 */
    grid-gap: 0px; /* 隙間 */
    background-color: #FFFFFF;
}

.club-box1{
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    grid-column: 3 / 5;
    grid-row: 1; 
}
.club-box2{
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    grid-column: 2 / 6;
    grid-row: 2; 
}
.club-box3{
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
    grid-column: 2 / 6;
    grid-row: 3; 
}
.club-box4{
    margin-top: 50px;
    text-align: left;
    grid-row: 5;
    grid-column: 2 / 6;
}
.club-box5{
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    grid-column: 2 / 4;
    grid-row: 3; 
}
.club-box6{
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    grid-column: 4 / 6;
    grid-row: 3; 
}
.club-box7{
    margin-top: 30px;
    grid-column: 1 / 7;
    grid-row: 3; 
}
/* 横並び */

.new-bs-flex {
    display: flex; /*横並び*/
  }
  .new-bs-img {
    margin: 0;
    padding: 0;
  }
  .new-bs-img img {
    width: 100%;
    height: auto;
  }
  .new-bs-right {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .new-bs-title {
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #8B2022;
  }
  .new-bs-text {
    font-family: Helvetica,"游ゴシック体", 'YuGothic', "游ゴシック", "Yu Gothic", sans-serif;
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
  }
  
/*プロジェクト参加*/
  .takeaction-flex {
    margin-top: 20px;
    display: flex; /*横並び*/
    justify-content: center;
  }
  .takeaction-img {
    margin: 0;
    padding: 0;
  }
  .takeaction-img img {
    width: 100%;
    height: auto;
  }
  .takeaction-right {
    margin: 0;
    padding: 0;
  }
  .takeaction-title {
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
    font-size: 3rem;
    color: #8B2022;
    text-align: center;
  }

/* SNS写真・テキスト */

.sns-flex{
    display: flex;
    justify-content: center;
}

.sns-flex > p{
    width: 45%;
    text-align: left;
    margin-top:30px;
    margin-left:15px;
}

.previous{
    margin-right: 200px;
    text-align: right;
    font-weight: bolder;
    font-size: 2rem;
}

/* お知らせ一覧 */
.news-banner {
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 800px; /* バナーの幅 */
    height: 50px; /* バナーの高さ */
    border-radius: 30px; /* バナーの両端の丸さ */
    background-color: yellow; /* バナーの背景色 */
    overflow: hidden; /* 内部の要素がはみ出さないようにする */
  }
  
  .news-circle {
    margin-right: 80px;
    margin-left: 150px;
    width: 25px; /* 円の直径 */
    height: 25px; /* 円の直径 */
    border-radius: 50%;
    background-color: #8B2022; /* 円の背景色 */
  }  

  .news-date {
    font-size: 2rem; /* 日付のフォントサイズ */
    margin-right: 10px; /* 日付とテキストの間隔 */
  } 

  .news-text {
    margin-left: 30px;
    font-size: 2rem; /* テキストのフォントサイズ */
  }
  