.engineer {
    margin-bottom: 100px;
}
/* ------------------------------
フレックスポップアップ
------------------------------- */
.flex-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 1.4rem;
}
.flex-img li {
    position: relative; /* 親要素に対してposition: relative;を指定 */
}
.flex-img p {
    margin: -22px 25px;
    text-align: left;
    line-height: 1.1;
}
.size-img {
    max-width: 200px;
    margin: 5px 20px;
}
.flex-img button{
    max-width:800px;
    position: relative;
    left: 40px;
    bottom:35px;
    padding:0;
    margin: 0;
}
.btn-white {
    color: #fff;
    border-bottom:solid 1px #fff;
}
.btn-black {
    color: #000;
    border-bottom:solid 1px #000;
}
.flex-img button:before {
    content: "\025b6";
}

.img-bottom {
    margin: 100px auto;
}
/* -------------------
モーダル
-------------------- */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .6;
    display: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .modal {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .modal p {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 14px;
  }
  
  .modal-close__wrap {
    position: absolute;
    right: 50px;
    bottom: 30px;
  }
  
  .modal-close {
    width: 100px;
    display: block;
    height: 28px;
  }
  

  .overlay.open {
    display: block;
  }
  
  .modal.open {
    display: block;
  }
  /* 画像100% */
img {
    width:100%;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}
  .popup img{
    width: auto;
    height: auto;
  }
